@function vw($value, $base: 1920) {
  @return $value / $base * 100vw;
}

@function vmin($value, $base :375) {
  @return $value / $base * 100vw
}

@keyframes headerBorderAnimation {
  0% {
      width:100%;
  }

  100% {
      width:50%;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: vw(11);
}

a {
  text-decoration:none;
}

.container {
  max-width: 93vw;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: vw(27);
  }

  &__info--text {
    max-width: vw(142);
  }

  &__info--adress {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: vw(10);
    cursor: pointer;
  }

  &__info--adress-svg {
    width: vw(35);
    height: vw(35);
    pointer-events: none;
  }

  &__info--adress-text {
    max-width: vw(157);
  }

  &__info--logo {
    max-width: vw(213);
    height: vw(50);
  }

  &__info--logo-img {
    width: 100%;
    cursor: pointer;
  }

  &__info--map {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: vw(10);
    cursor: pointer;
  }

  &__map--object {
    width: vw(12);
    height: vw(15);
    pointer-events: none;
  }

  &__map--text {
    padding-bottom: vw(4);
    position: relative;
  }

  &__map--text::after {
    content: '';
    display: block;
    border: vw(3) none #FD2016;
    border-bottom-style: dotted;
    border-width: medium;
    position: absolute;
    top: calc(100% + vw(4));
    left: 0;
    width: 100%;
    transition: width 0.2s ease-in-out;
  }

  &__map--text:hover::after {  
    width: 50%;
    transition: width 0.2s ease-in-out;
  }

  &__info--calculate {
    max-width:vw(193);
    display:flex;
    flex-direction:row;
    align-items: center;
    column-gap:vw(10);
    cursor: pointer;
  }

  &__info--calculate-object {
    width:vw(35);
    height:vw(35);
    pointer-events: none;
  }

  &__info--calculate-wrapper:hover::after {
    animation: headerBorderAnimation 0.4s

  }

  &__info--calculate-45 {
    position: relative;
    width:vw(95);
  }

  &__info--calculate-count {
    position: relative;
    width:vw(118);
  }

  &__info--calculate-count::after, &__info--calculate-45::after {
    content: '';
    display: block;
    border: vw(3) none #FD2016;
    border-bottom-style: dotted;
    border-width: medium;
    position: absolute;
    top: calc(100% + vw(4));
    left: 0;
    width: 100%;
    transition: width 0.2s ease-in-out;
  }

  &__info--calculate-45:hover::after, &__info--calculate-count:hover::after {
    width: 50%;
    transition: width 0.2s ease-in-out;
  }

  &__info--question {
    max-width:vw(241);
    display:flex;
    align-items: center;
    column-gap:vw(24);
  }

  &__info--question-text {
    max-width:vw(100);
  }

  &__info--icons-wrapper  {
    max-width:vw(117)
  }

  &__info-nombers {
    max-width:vw(199);
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  &__info--days-wrapper {
    display:flex;
    align-items: center;
    flex-direction: row;
    max-width:vw(179);
    column-gap:vw(6);
  }

  &__info--days-call {
    font-size: vw(12);
  }

  &__info--number-wrapper {
    display:flex;
    flex-direction: row;
    align-items: center;
    column-gap: vw(12);
    justify-content: center;
    cursor: pointer;
  }

  &__info--number {
    font-size: vw(20);
    font-weight: 700;
  }

  &__info--call-order {
    max-width:vw(122);
    display:flex;
    align-items: center;
    column-gap: vw(13);
  }

  &__info--call-text {
    font-size: vw(12);
  }
}

